#list
{
    margin: 0px;
    padding: 0px;
}

#list li
{
    margin: 2px;
    height: 40px;
    list-style-type: none; /*・をなくす*/
    float: left;
}

img #list
{
    width: 200px;
    height: 200px;
}

hr
{
    clear: both;
}

#big 
{
    width: 315px;
    height: 235px;
}

.watermark{
    color: #c0c0c0;
}


span#search{
    width: 90px;
    border: solid 1px red;
    border-radius: 5px 5px 5px 5px;
}

