
.watermark{
    color: #c0c0c0;
}


span#search{
    width: 90px;
    border: solid 1px red;
    border-radius: 5px 5px 5px 5px;
}

div#footer 
{
    text-align:center;
    z-index:99997;
    position:fixed;
    background:#000;
    border-top: solid 1px #fff;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-image: no-repeat;
    background-size: auto;
    background-position: center center;
}

img#edamame
{
    display: none;
}

p.price
{
    float:left;
}
